<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> Add Items! </h3>
<form action="/shoppinglist/" method="post">
    {% csrf_token %}
    <input type="text" name="item" placeholder="Item">
    <input type="text" name="price" placeholder="Price">
    <select name="shop">
        {% for shop in shops %}
            <option value="{{ shop.id }}">{{ shop.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add">
<br>
{% for item in shoppinglist_data %}
    <p>{{item.id }} - {{item.item_id}} - {{ item.item_id.name }} - {{ item.price }} - {{ item.item_id.shop_id.name }} - {{ item.status }}</p>
{% endfor %}
</form>
<br>
<h3> Add Shops! </h3>
<form action="/shoppinglist/shop" method="post">
    {% csrf_token %}
    <input type="text" name="shop" placeholder="Shop">
    <input type="submit" value="Add">
</form>
<br>
<h3> Change purchase status !</h3>
   <form action="/shoppinglist/ {{ item.item_id.id }} /buy" method="post">
        {% csrf_token %}
        <select name="item">
            {% for item in items %}
                <option value="{{ item.id }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Buy">
   </form>
<br>
<h3> Delete element !</h3>
   <form action="/shoppinglist/ {{ item.item_id.id }} /remove" method="post">
        {% csrf_token %}
        <select name="item">
            {% for item in items %}
                <option value="{{ item.id }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Remove">
   </form>
</body>
</html>



